*{
  padding:0;
  margin:0;
}

.App{
  /* background-color:red; */
  background-size:cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background-position-y:80px ;
  padding:0;
  height: 100vh;
  width: 100vw;
}